name: main

on:
  workflow_dispatch:

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: checkout test repo
        uses: actions/checkout@v2
        with:
          repository: BillKalaitzis/repo2
          ref: master
